<h1>this is user show page</h1>

<div>
    <h3>Create Subs Here</h3>
    <form action="<%= user_subs_url(@user) %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label>Title
            <input type="text" name="sun[title]">
        </label>
        <label>Description
            <input type="text" name="sun[description]">
        </label>

        <button type="submit">Create a Sub</button>
    </form>
</div>


<a href="<%= subs_url %>" method="get">All Subs</a>
