html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

.boxtitle {
  font-size: 25px;
  font-family: Chango;
}

.clock {
  font-size: 25px;
  font-family: Chango;
  background: orange;
  color: white;
  border: solid 2px black;
  /* display: flex; */
  padding: 10px;
  margin: 15px;
  width: 550px;
  height: 95px;
  background-size: cover;
}
  
.clock p {
  font-family: Chango;
  margin: 12px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}


.tab-header{
  width: 200px;
  height: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.tab-header > li{
  font-family: Chango;
  width: 65px;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
  color: antiquewhite;
  background-color: rgb(241, 197, 204);
}

.tab-header > li:first-child{
  border-left: 2px solid black;
}

.tab-header > li:last-child{
  border-right: 2px solid black;
}

.tab-header > li:hover{
  background-color: yellow;
  color: rgb(241, 197, 204)
}

.active{
  font-weight: bold;
}
.tabs{
  width: 240px;
  height: 200px;
}
.tab-content{
  font-family: Chango;
  /* font-weight: bold; */
  color: white;
  height: 192px;
  margin: 0 20px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  background-image: url(https://hd.unsplash.com/photo-1445112098124-3e76dd67983c);
  background-size: cover;
}
.tab-content article{
  text-align: center;
}

body{
  display: flex;
  justify-content: space-around;
}
.interactive{
  display: flex;
  justify-content: space-around;
}
