.sections-nav {
  font-family: $sans-serif;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 2px solid;
  border-color: $light-gray;
  display: flex;
  justify-content: center;
}

.sections-nav li {
  padding: 8px;
}

.sections-nav li:hover {
  background-color: $lightest-gray;
}

.sections-nav li:last-child:hover {
  background-color: transparent;
  text-decoration: underline;
}

@media all and (max-width: 550px) {
  .sections-nav {
    display: none;
  }

}