@media all and (max-width: 550px) {

.sections-nav {
  display: none;
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
  z-index: 1;
  border: 1px solid;
  border-color: $light-gray;
  border-radius: 3px;
  width: 200px;
  background-color: white;
  top: 50px;
 left: 0px;
  padding: 15px;
}

// .sections-container .sections-nav:hover {
//   display: block;
// }

.sections-nav.expand {
  opacity: 1;
}



.dropdown {
    position: relative;
}
.dropdown > ul {
    display: none;
    position: absolute;
    /* use top, left, right, bottom to position */
}
.dropdown:hover > ul {
    /* applies the following style to uls inside .dropdown */
    /* but only when .dropdown is being hovered over */
    display: block;
}
}